<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta property="og:url" content="<%= root_url%>">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Joseph Rey Alquisola">
    <meta name="description" content="Senior Software Engineer. Certified Google Adwords Specialist. Certified Google Analytics Expert.">
    <meta property="og:description" content="Senior Software Engineer. Certified Google Adwords Specialist. Certified Google Analytics Expert.">
    <meta property="og:image" content="<%= asset_path 'profile.jpg'%>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@jalquisola">
    <meta name="twitter:title" content="Joseph Rey Alquisola">
    <meta name="twitter:description" content="Senior Software Engineer. Certified Google Adwords Specialist. Certified Google Analytics Expert.">
    <meta name="twitter:image" content="<%= asset_path 'profile.jpg'%>">

    <title>Joseph Rey Alquisola</title>

    <%= stylesheet_link_tag    'profile', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'profile', 'data-turbolinks-track' => true %>

    <link rel='shortcut icon' href="<%= asset_path 'me.jpeg'%>">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'ie9'%>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
      <div id="topbar-inner">
        <div class="container">
          <div class="row">
            <div class="dropdown">
              <ul id="nav" class="nav">
                <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="fa fa-user"></i></a></li>
                <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="fa fa-file"></i></a></li>
                <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="fa fa-briefcase"></i></a></li>
                <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="fa fa-envelope"></i></a></li>
              </ul><!--/ uL#nav -->
            </div><!-- /.dropdown -->
            <div class="clear"></div>
          </div><!--/.row -->
        </div><!--/.container -->
        <div class="clear"></div>
      </div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->

    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <h1>Joseph Alquisola</h1>
            <h3>Senior Software Engineer | Data Scientist | Certified Google Adwords & Analytics Expert</h3>
          </div><!--/.col-lg-12 -->
        </div><!--/.row -->
      </div><!--/.container -->
    </div><!--/.#headerwrap -->

    <section id="about" name="about"></section>
    <div id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-lg-offset-1">
            <h5>ABOUT</h5>
          </div>
          <div class="col-lg-6">
            <p>
                6+ year’s professional experience managing development and deployment of web applications and APIs using Ruby on Rails(RoR) and ExpressJS. Delivered 97.5% of projects on time and reduce system architecture cost.
            </p>
            <p>
                2+ year’s professional experience collecting, analyzing and evaluating large datasets using machine learning algorithms to understand trends, anomalies, opportunities and discover interesting insights that add business value.
            </p>
            <p>
                Certified expert in optimizing search engine and mobile marketing campaigns in Google Adwords. Drove return on ad spend (ROAS) increases of 33% and more by understanding user behavior using Google Analytics Data.
            </p>
          </div>
          <div class="col-lg-3">
              <!--<p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p> -->
          </div>
        </div><!--/.row -->
      </div><!--/.container -->
    </div><!--/ #intro -->

    <section id="resume" name="resume"></section>

<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>CERTIFICATIONS</h5>
    </div>

    <div class="col-lg-6">
      <p>
          <t><a href='https://www.coursera.org/account/accomplishments/verify/NK9EAM22JG7P?trk=profile_certification_title' target='_blank'>Machine Learning<br/> Coursera Course Certificates<br/> License NK9EAM22JG7P</a></t><br/>
      </p>
    </div>

    <div class="col-lg-3 ">
      <p><sm>AUG 2016 - present</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <t><a href='https://www.google.com/partners/?authuser=1#i_profile;idtf=115979796804121259839;' target='_blank'>Google Adwords Certification</a></t><br/>
      </p>
    </div>

    <div class="col-lg-3">
      <p><sm>JAN 2016 - JAN 2017</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <t><a href='https://www.google.com/partners/?authuser=1#i_profile;idtf=115979796804121259839;' target='_blank'>Google Analytics Certification</a></t><br/>
      </p>
    </div>

    <div class="col-lg-3">
      <p><sm>JAN 2016 - JULY 2017</sm></p> </div>

  </div><!--/.row -->
  <br>
  <hr>
</div><!--/.container -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>TECHNICAL EXPERTISE</h5>
    </div>
    <div class="col-lg-9">
      <p><t>Programming Languages</t><br/>
      </p>
      <p><more>
          <ul>
              <li>Ruby, Javascript, Python, Go, Java, C++</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Web Frameworks</t><br/>
      </p>
      <p><more>
          <ul>
              <li>Ruby on Rails, ExpressJS</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Data Analysis Tools</t><br/>
      </p>
      <p><more>
          <ul>
              <li>Pandas, NumPy, Scikit-learn, Matplotlib, Spark</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Database</t><br/>
      </p>
      <p><more>
          <ul>
              <li>MySQL, PostgreSQL, Redis, MongoDB</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Javascript Frameworks</t><br/>
      </p>
      <p><more>
          <ul>
              <li>ReactJS, Angular, Backbone</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Testing Tools</t><br/>
      </p>
      <p><more>
          <ul>
              <li>RSpec, Capybara, Jasmine, Test Unit</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-9 col-lg-offset-3">
      <p><t>Deployment Tools</t><br/>
      </p>
      <p><more>
          <ul>
              <li>Amazon Web Services Opsworks, Docker, Chef, Capistrano</li>
          </ul>
          </more>
      </p>
    </div>
  </div><!--/.row -->
  <br>
  <hr>
</div><!--/.container -->
<!--WORK DESCRIPTION -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>WORK</h5>
    </div>
    <div class="col-lg-6">
      <p><t>Senior Software Engineer</t><br/>
        Pocketmath Pte Ltd <br/>
      </p>
      <p><more>
          <ul>
            <li>Detected 50% of bad adverts by creating a classification model that detects and rejects bad adverts.</li>
            <li>Developed an Application Programming Interface (API) to automate the testing of adverts.</li>
            <li>Spearheaded the development and deployment of PocketMath’s Vetting System using Ruby on Rails, NodeJS and Amazon Web Services.
            </li>
            <li>
                Mentored members of Brand Safety Team regarding creative policies and business rules.
            </li>
            <li>Generated 27% more leads and reduced advertising costs by optimizing Google Adwords campaigns through search term report monitoring and landing pages A/B testing.</li>
            <li>Gathered reports data from different advertising platforms, such as, Twitter, Facebook, Google Adwords and provided insights to stakeholders which platforms are giving as effective return on ad spend (ROAS).</li>
          </ul>
         </more></p>
      </div>
    <div class="col-lg-3">
      <p><sm>DECEMBER 2013 - CURRENT</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Software Developer</t><br/>
        Spuul Pte Ltd <br/>
      </p>
      <p><more>
          <ul>
            <li>Refactored RoR application programming interface code resulting 22% improvement on the response time.</li>
            <li>Managed database complex SQL queries by adding new tables and indexes, and by breaking it down to simple SQL queries.
            </li>
            <li>Build trust with content providers by developing a Ruby on Rails web application where they can view reports and graphs of their content.</li>
            <li>Integrated social media APIs such as Facebook, Google+, Twitter and payment gateways APIs such as Paypal, Tappp, Ccavenue, and Qubecell.</li>
          </ul>
          </more></p>
    </div>
    <div class="col-lg-3">
      <p><sm>NOVEMBER 2012 - NOVEMBER 2013</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Software Developer</t><br/>
        Caresharing Inc. <br/>
      </p>
      <p><more>
          <ul>
            <li>Analyzed business specifications and turned them into technical specifications.</li>
            <li>Optimized existing Ruby on Rails web application by refactoring complex codes and adding indexes to MySQL database tables.</li>
            <li>Built interactive and responsive web applications using Backbone, Underscore and jQuery.</li>
            <li>Contributed to the team in building our application programming interface(API).</li>
          </ul>
          </more>
      </p>
    </div>
    <div class="col-lg-3">
      <p><sm>JANUARY 2010 - NOVEMBER 2012</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Software Developer</t><br/>
        NEC Telecom Software Philippines<br/>
      </p>
      <p><more>
          <ul>
            <li>Analyzed business specifications and turned them into technical specifications.
            </li>
            <li>Improved productivity by creating scripts written in C to automate testing of a virtual target system.</li>
            <li>Built software, such as desktop applications and network card simulators using waterfall development.      </li>
            <li>
                Played a key role in the team by designing application architecture.
            </li>
          </ul>
          </more></p>
    </div>
    <div class="col-lg-3">
      <p><sm>APRIL 2007 - JANUARY 2010</sm></p>
    </div>
  </div><!--/.row -->
  <br>
  <hr>
</div><!--/.container -->
<!--Certifications  DESCRIPTION -->
<!--EDUCATION DESCRIPTION -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>EDUCATION</h5>
    </div>

    <div class="col-lg-6">
      <p>
        <t>Bachelor of Science in Mathematics </t><br/>
           University of the Philippines Cebu <br/>
         <i>4 Years Course</i>
      </p>
    </div>

    <div class="col-lg-3">
      <p><sm>APRIL 2007</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <t>High School</t><br/>
           University of the Philippines Cebu - High School <br/>
         <i>4 Years</i>
      </p>
    </div>

    <div class="col-lg-3">
      <p><sm>APRIL 2003</sm></p>
    </div>

  </div><!--/.row -->
  <br>
  <hr>
</div><!--/.container -->


<!--AWARDS DESCRIPTION -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>AWARDS</h5>
    </div>
    <div class="col-lg-6">
      <p><t>Magna Cum Laude Graduate</t><br/>
        University of the Philippines Cebu<br/>
      </p>
      <p><more>Graduated as Class Valedictorian of Batch 2007</more></p>
    </div>
    <div class="col-lg-3">
      <p><sm>APRIL 2007</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
    <p><t>Science Education Institute Scholar</t><br/>
      Department of Science and Technology
    </p>
    </div>
    <div class="col-lg-3">
      <p><sm>2003-2007</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Japanese Language Proficiency Test Level 3 Passer</t>
    </p>
    </div>
    <div class="col-lg-3">
      <p><sm>2008</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Best in Mathematics</t><br/>
        University of the Philippines High School
      </p>
    </div>
    <div class="col-lg-3">
      <p><sm>2003</sm></p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><t>Best in Conduct</t><br/>
        University of the Philippines High School
      </p>
    </div>
    <div class="col-lg-3">
      <p><sm>2003</sm></p>
    </div>
  </div><!--/.row -->
  <br>
  <hr>
</div><!--/.container -->
<section id="work" name="work"></section>
<!--PORTFOLIO DESCRIPTION -->
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>PORTFOLIO</h5>
    </div>

    <div class="col-lg-6">
      <p><%= image_tag 'besthaven.png', class: 'img-responsive'%></p>
    </div>
    <div class="col-lg-3">
        <p><a href='http://www.mybesthaven.com' target='_blank'>MyBestHaven</a></p>
      <p><more>A platform for real estate developers and agents to market their
          projects.<br/><br/>
          <sm><i class="fa fa-tag"></i> web developer</sm>
          <sm><i class="fa fa-tag"></i> web analyst</sm>
          <sm><i class="fa fa-tag"></i> campaign manager</sm>
          </more>
      </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><%= image_tag 'smdcinvestments.png', class: 'img-responsive'%></p>
    </div>
    <div class="col-lg-3">
        <p><a href='http://www.smdcinvestments.com' target='_blank'>SMDC Investments</a></p>
      <p><more>A real estate website owned by a Filipino broker. It is a
          platform for the broker and its customer to collaborate, discuss and
          share specific Philippine property.<br/><br/>
       <sm><i class="fa fa-tag"></i> web developer, web analyst</sm></more> 
      </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><%= image_tag 'pocketmath.png', class: 'img-responsive'%></p>
    </div>
    <div class="col-lg-3">
        <p><a href='http://pockemath.com' target='_blank'>POCKETMATH</a></p>
        <p><more>PocketMath is the world's largest, 100% self-serve, mobile demand-side platform
(DSP) for programmatic mobile.We make it easy to buy smartphone and tablet ad impressions, within apps, games,
and mobile websites - all in real-time. In one platform, you gain immediate
access to the world's supply of mobile real-time bidding (RTB) inventory!
            <br/><br/>
          <sm><i class="fa fa-tag"></i> web developer</sm></more> 
        </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><%= image_tag 'spuul.jpg', class: 'img-responsive'%></p>
    </div>
    <div class="col-lg-3">
        <p><a href='https://spuul.com' target='_blank'>SPUUL</a></p>
      <p><more>Spuul offers an over-the-top (OTT) service across Web,
          mobile/tablets (iOS, Android), smart TVs, and Chromecast to stream and
          download feature-length movies, short films, and TV shows in Hindi,
          Tamil, Telugu, and other Indian regional languages. The service is
          available worldwide.<br/><br/>
        <sm><i class="fa fa-tag"></i> web developer</sm></more> 
      </p>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
      <p><%= image_tag 'caresharing.jpg', class: 'img-responsive'%></p>
    </div>
    <div class="col-lg-3">
        <p><a href='http://caresharing.com' target='_blank'>CARESHARING</a></p>
      <p><more>We create and develop software applications for the healthcare
          industry.Our products focus mainly on patient care. These are used
          by general practicioners, physiotherapists, dietitians, internists, and
          medical specialists to access and store medical data of patients that
          has chronic diseases such as diabetes, COPD and CVRM. These allow them
          to collaborate and provide the ideal patient care.<br/><br/>
       <sm><i class="fa fa-tag"></i> software developer</sm></more> 
      </p>
    </div>

  </div><!--/.row -->
  <br>
  <br>
</div><!--/.container -->
<section id="contact" name="contact"></section>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>CONTACT</h5>
      </div>
      <div class="col-lg-6">
        <p><t>Email</t><br/>
            <a href='mailto:jralquisola@gmail.com'>jralquisola@gmail.com</a> <br/>
        </p>
        <p><t>Adress</t><br/>
          Sims Drive, Singapore<br/>
        </p>
        <p><t>Skype</t><br/>
          <a href='skype:jalquisola?call'>jalquisola</a> <br/>
        </p>
      </div>
      <div class="col-lg-3">
        <p><sm>SOCIAL LINKS</sm></p>
        <p>
          <a href="https://twitter.com/jalquisola" target='_blank'><i class="fa fa-twitter"></i></a>
          <a href="https://sg.linkedin.com/in/jralquisola" target='_blank'><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/jalquisola" target='_blank'><i class="fa fa-github"></i></a>
        </p>
      </div>
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/ #footer -->
  <%= render partial: "misc/google_analytics"%>
  </body>
</html>
