<!DOCTYPE HTML>
<html>
<head>
    <title>Python Machine Learning Book Review by Joseph Alquisola</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Joseph Alquisola">
    <meta property="og:url" content="<%= python_machine_learning_url%>">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Python Machine Learning Book Review">
    <meta name="description" content="<%= @description%>">
    <meta property="og:description" content="<%= @description%>">
    <meta property="og:image" content="<%= asset_path 'profile.jpg'%>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@jalquisola">
    <meta name="twitter:title" content="Python Machine Learning Book Review">
    <meta name="twitter:description" content="<%= @description%>">
    <meta name="twitter:image" content="<%= asset_path 'python-machine-learning.jpg'%>">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic" type="text/css"/>
    <%= stylesheet_link_tag 'strata', media: 'all' %>
</head>
<body id="top">
    <header id="header">
        <a href="#" class="image avatar">
            <%= image_tag("me.jpg")%>
        </a>
        <h1><strong>I am Joseph</strong>, a data scientist<br />
            who loves to apply machine learning algorithms using Python.<br />
        </h1>
    </header>

    <div id="main">
        <section id="one">
            <header class="major">
                <h2><i>Python Machine Learning Book Review</i> </h2>
            </header>
            <div class="box alt">
                <div class="row 50% uniform">
                    <div class="6u$">
                        <span class="image fit">
            <a href="https://www.amazon.com/gp/product/1783555130/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783555130&linkCode=as2&tag=coastresidenc-20&linkId=1f2250eabdd66f697e2ae080cdb606fc"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1783555130&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_ML200_&tag=coastresidenc-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=coastresidenc-20&l=am2&o=1&a=1783555130" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                        </span>
                    </div>
                </div>
            </div>
            <p>In January 2016, I started my journey as a data scientist in a real-time bidding company. I attended machine learning classes in <a href="https://www.coursera.org/">Coursera</a> and read a couple of books about machine learning. I was mindblown by how theoretical and analytical machine learning courses and its books.</p>
            <p>
                I just want a simple and easy to understand book for machine learning!
            </p>
            <p>
                Luckily, I found <a  href="https://www.amazon.com/gp/product/1783555130/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783555130&linkCode=as2&tag=coastresidenc-20&linkId=e05120e23294b9df0be88a864a8f3019">Python Machine Learning by Sebastian Raschka.</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=coastresidenc-20&l=am2&o=1&a=1783555130" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> Since I prefer to read a book and follow its examples in my computer, I bought a hard copy of the book in Amazon. Python Machine Learning connects the fundamental theoretical principles behind machine learning to their practical application in a way that focuses you on asking and answering the right questions. In just a month, I was able to create a classification model and deploy it in production using Python Flask. I highly recommend this book to fellow software engineers who want to learn and apply learning algorithms to their platforms.
            </p>
            <h3>What you will learn from <a  href="https://www.amazon.com/gp/product/1783555130/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783555130&linkCode=as2&tag=coastresidenc-20&linkId=e05120e23294b9df0be88a864a8f3019">Python Machine Learning?</a></h3>
            <ul>
                <li>Explore how to use different machine learning models to ask different questions of your data</li>
                <li>Find out how to write clean and elegant Python code that will optimize the strength of your algorithms</li>
                <li>Discover how to embed your machine learning model in a web application for increased accessibility</li>
                <li>Predict continuous target outcomes using regression analysis</li>
                <li>Uncover hidden patterns and structures in data with clustering</li>
                <li>Organize data using effective pre-processing techniques</li>
                <li>Get to grips with sentiment analysis to delve deeper into textual and social media data</li>
            </ul>
            <p>
                Start reading and following the examples in the book, you will be amazed how simple and easy it is to build your own machine learning models using Python.
            </p>
            <ul class="actions">
                <li><a  href="https://www.amazon.com/gp/product/1783555130/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783555130&linkCode=as2&tag=coastresidenc-20&linkId=e05120e23294b9df0be88a864a8f3019" class="button special big">Check for more reviews</a>
                </li>
            </ul>
        </section>
        <section id="two">
            <h2>About Python Machine Learning</h2>
            <section>
                <ul>
                    <li>Leverage Python's most powerful open-source libraries for deep learning, data wrangling, and data visualization</li>
                    <li>Learn effective strategies and best practices to improve and optimize machine learning systems and algorithms</li>
                    <li>Ask – and answer – tough questions of your data with robust statistical models, built for a range of datasets</li>
                </ul>
            </section>
            <section>
                <h4>Who This Book Is For</h4>
                <p>If you want to find out how to use <a href="https://www.python.org/">Python</a> to start answering critical questions of your data, pick up Python Machine Learning – whether you want to get started from scratch or want to extend your data science knowledge, this is an essential and unmissable resource.<p>
            </section>
            <section>
                <h4>Synopsis</h4>
                <p><a href="https://en.wikipedia.org/wiki/Machine_learning"><strong>Machine learning</strong></a> and predictive analytics are transforming the way businesses and other organizations operate. Being able to understand trends and patterns in complex data is critical to success, becoming one of the key strategies for unlocking growth in a challenging contemporary marketplace. Python can help you deliver key insights into your data – its unique capabilities as a language let you build sophisticated algorithms and statistical models that can reveal new perspectives and answer key questions that are vital for success.<p>
                <p>
                    <i>Python Machine Learning</i> gives you access to the world of predictive analytics and demonstrates why Python is one of the world's leading data science languages. If you want to ask better questions of data, or need to improve and extend the capabilities of your machine learning systems, this practical data science book is invaluable. Covering a wide range of powerful Python libraries, including scikit-learn, Theano, and Pylearn2, and featuring guidance and tips on everything from sentiment analysis to neural networks, you'll soon be able to answer some of the most important questions facing you and your organization.
                </p>
            </section>
            <ul class="actions">
                <li><a  href="https://www.amazon.com/gp/product/1783555130/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783555130&linkCode=as2&tag=coastresidenc-20&linkId=e05120e23294b9df0be88a864a8f3019" class="button special big">Check more reviews</a>
                </li>
            </ul>
        </section>

        <footer id="footer">
            <ul class="copyright">
                <li>&copy; jralquisola.me</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
        <%= render partial: "misc/google_analytics"%>
</body>
</html>
